* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background-color: #f4f4f4;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* default  */
.container {
  padding: 0 80px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* ////////////////////////////// */
/* header  */

header {
  background-color: #092241;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* nav  */

.nav {
  display: flex;
  gap: 24px;
  position: relative;
}

/* category   */
.header-category {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.header-category h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-bottom: 13px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}

.header-category h1:hover {
  color: #b99143;
}

.nav a {
  color: white;
  font-size: 24px;
  font-weight: 400;
  border: 3px solid #092241;
  padding: 3px;
  transition: 0.3s;
}

.nav a:hover {
  color: #d2ae7e;
  border-bottom: 3px solid #d2ae7e;
}

.search {
  cursor: pointer;
  display: flex;
  position: relative;
}

.search form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search form i {
  color: white;
  font-size: 16px;
  border-radius: 100%;
  border: 2px solid white;
}

.search input {
  border-radius: 15px;
  height: 25px;
  width: 150px;
}

/* //////////////////////////////////// */

/* background section  */

.background-section {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  height: 715px;
}

.background {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.background h1 {
  color: #ffffff;
  background-color: #b99143;
  font-size: 30px;
  font-weight: 400;
  padding: 26px 167px 26px 37px;
  border-radius: 20px 0px 0px 20px;
}

/* //////////////////////////////////////// */

/* comment and popular section  */

.comment-popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 40px;
  padding-bottom: 133px;
  width: 100%;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.comment h1 {
  font-size: 32px;
  font-weight: 400;
}

.comment button {
  font-size: 16px;
  font-weight: 400;
  padding: 21px 16px;
  background-color: #11427e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.comment button:hover {
  color: #11427e;
  background-color: white;
  box-shadow: 4px 4px 5px #11427e;
}

.popular {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.popular-images {
  display: flex;
  gap: 30px;
}

.popular-images img {
  cursor: pointer;
  transition: 0.3s;
  width: 220px;
  height: 290px;
  border-radius: 20px;
}

.popular-images img:hover {
  transform: scale(1.1) translateY(-20px);
}

.popular h1 {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: text;
  transition: 0.3s;
}

/* ////////////////////////////////////////////// */
/* comment form  */
.overlay {
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.contact-form {
  max-width: 550px;
  padding: 0 50px;
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 40px;
  width: 100%;
}

.contact-form i {
  display: flex;
  align-self: flex-end;
  font-size: 40px;
  padding: 19px 0;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form i:hover {
  color: red;
  transform: scale(1.1);
}

.contact-form h1 {
  font-size: 28px;
  margin-bottom: 40px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.contact-form form input,
.contact-form form textarea {
  font-size: 20px;
  width: 100%;
  font-weight: 400;
  padding: 13px 16px;
  border: 2px solid #d5d5d5;
  border-radius: 5px;
}

.contact-form form textarea {
  height: 150px;
  resize: none;
}

.contact-form form input:hover {
  border: 2px solid #92bcf0;
}

.contact-submit {
  background-color: #92bcf0;
  margin-top: 50px;
  margin-bottom: 80px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.contact-submit:hover {
  background-color: #11427e;
}

/* /////////////////////////////////// */

/* footer  */

footer {
  background-color: #092241;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 32px;
}

.footer-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 3px solid #d2ae7e;
  width: 100%;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.footer-nav h1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.footer-nav i {
  color: #b99143;
  font-size: 25px;
}

.footer-first-nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footer-second-nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footer-third-nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footer-third-nav h1 {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.footer-nav h1 {
  color: white;
  font-size: 16px;
}

/* ================================= */
/* about us page  */

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 65px;
  padding-bottom: 200px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.about-us-text p {
  font-size: 16px;
}

.about-me-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70%;
  padding: 20px 50px;
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  border-radius: 40px;
  width: 100%;
}

.about-me-form {
  z-index: 90;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.about-me-form input {
  width: 80%;
  padding: 10px;
  font-size: 20px;
}

.about-text {
  width: 80%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  display: flex;
  font-size: 20px;
}

/* //////////////////////////////////// */
/* products page  */

.products-content {
  padding-bottom: 50px;
}

.product-img {
  display: flex;
  align-items: center;
  gap: 10px;
}

.products {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  width: 100%;
}

.products h1 {
  font-size: 24px;
  font-weight: 400;
  color: #00000080;
}

.product-cards {
  display: flex;
  width: 100%;
  gap: 60px 0;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
}

.product-filter {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: black;
  cursor: pointer;
  transition: 0.2s;
  height: max-content;
}

.product-card:hover {
  transform: scale(1.1);
}

.product-card h1 {
  color: white;
  background-color: black;
  padding: 10px 0;
}

.product-card img {
  max-width: 320px;
  width: 100%;
  width: 320px;
  height: 400px;
}

.product-filter label {
  width: 180px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.2s;
}

.product-filter input {
  transition: 0.2s;
  transform: scale(1.5);
  cursor: pointer;
}

.product-filter input:hover {
  transform: scale(2);
}

.filter-h1 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
}

.detail-product {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}

.detail-product-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 50px;
  max-width: 400px;
  width: 100%;
  height: 500px;
  margin-top: 40px;
}

.detail-product-description span {
  font-size: 15px;
  font-weight: 900;
}

.detail-product-description h2 {
  font-size: 15px;
  font-weight: 900;
  text-align: end;
}

.detail-product img {
  width: 400px;
  height: 500px;
  border-radius: 20px;
}

/* /////////////////////////// */
/* admin  */

.admin-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.admin-log {
  border-radius: 30px;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: white;
  box-shadow: 5px 5px 10px black;
  gap: 20px;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.log-submit {
  background-color: #11427e;
  color: white;
  padding: 5px 20px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.admin-form input {
  padding: 3px;
  width: 200px;
  height: 30px;
}

.error {
  color: red;
  /* position: absolute   ; */
}

/* ////////////////////////////////// */
/* control panel  */

/* log-out  */
.log-out {
  padding: 5px 10px;
  position: fixed;
  top: 10px;
  right: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.log-out:hover {
  background-color: white;
  color: black;
}

.control-panel {
  padding: 70px;
  display: flex;
  justify-content: space-evenly;
  display: flex;
  min-height: 100vh;
  background-color: #092241;
}

.control-panel-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: white;
  justify-content: center;
  gap: 30px;
  padding: 30px 50px;
  border: 3px solid #11427e;
  height: max-content;
}

.control-panel-nav h1 {
  font-size: 28px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

.control-panel-nav h1:hover {
  color: #11427e;
  border-bottom: 2px solid #11427e;
}

.control-panel-edit {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 50px;
  margin-top: 50px;
}

.control-panel-edit h1 {
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
  color: #000000;
  background-color: white;
  font-size: 28px;
}

.control-panel-edit button {
  background-color: #11427e;
  color: white;
  padding: 8px 24px;
  font-size: 18px;
  cursor: pointer;
}

/* /////////////////////////////////// */

.new-product {
  position: fixed;
  max-width: 500px;
  padding: 50px 20px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 5;
}

.new-product form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: white;
}

.new-product input {
  padding: 5px 10px;
  font-size: 20px;
  width: 100%;
}

.new-product select {
  padding: 5px;
  font-size: 20px;
  width: 100%;
}

.new-product button {
  width: max-content;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  background-color: #11427e;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

/* .all products  */

.control-panel {
  display: flex;
  flex-direction: column;
}

.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  background-color: #092241;
  width: 100%;
  margin: 0 auto;
}

.all-product {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 700px;
  gap: 50px;
  position: relative;
  border-radius: 20px;
  box-shadow: 5px 5px 10px white;
  cursor: pointer;
  transition: 0.2s;
}

.all-product:hover {
  transform: scale(1.1);
}

.products-view {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  height: 400px
}

.product-view-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.product-view-text h1 {
  color: black;
  font-weight: 900;
}

.product-view-text p {
  color: black;
  font-size: 20px;
}

.products-view img {
  width: 300px;
  border-radius: 20px;
  height: 400px;
}

.products-buttons {
  display: flex;
  gap: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* users  */

.control-panel {
  height: 100%;
  width: 100%;
  padding: 0;
}

.control-panel-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  height: 100%;
  text-align: center;
  position: relative;
  width: 100%;
}

.users-table {
  position: fixed;
  z-index: 10;
  width: 80%;
  background-color: white;
  padding: 20px 30px;
  min-height: 700px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.users-table h1 {
  font-size: 25px;
  text-align: start;
  color: white;
  font-weight: 700;
}

.users-table a {
  padding: 20px;
  color: #092241;
  background-color: white;
  font-weight: 900;
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.users-table a:hover {
  background-color: #092241;
  color: white;
}

.users-item {
  background-color: #11427e;
  display: flex;
  justify-content: 50px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.users-table i {
  align-self: flex-end;
  cursor: pointer;
  color: #11427e;
  font-size: 30px;
  transition: 0.2s;
}

.users-table i:hover {
  color: red;
}

@media (max-width: 376px) {
  .container {
    max-width: 376px;
    width: 100%;
  }

  .header {
    flex-direction: column;
    gap: 20px;
  }

  .logo img {
    width: 150px;
  }

  .nav {
    gap: 10px;
  }

  .nav a {
    font-size: 15px;
    padding: 0;
    width: max-content;
  }

  /* .background h1{
    display: none;
    font-size: 35px;
  } */

  .comment-popular {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .popular-images {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    width: 375px;
    align-items: center;
    padding: 0 20px;
    margin-bottom: -50px;
  }

  .background-section {
    height: 500px;
  }

  .popular-images img {
    width: 150px;
    height: 170px;
  }

  .popular h1 {
    display: none;
  }

  .comment-popular {
    gap: 100px;
  }

  .comment {
    max-width: 375px;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
  }
  .comment h1 {
    display: none;
  }

  .comment button {
    width: max-content;
    padding: 10px;
  }
}

.about-me-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.about-me-form label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.about-me-form textarea {
  width: 100%;
  height: 120px;
  resize: none;
  outline: none;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
