* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

/* default  */
.container {
  padding: 0 80px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* ////////////////////////////// */
/* header  */

header {
  background-color: #092241;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* nav  */

.nav {
  display: flex;
  gap: 24px;
  position: relative;
}

/* category   */
.header-category {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.header-category h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding-bottom: 13px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
  cursor: pointer;
}

.header-category h1:hover {
  color: #b99143;
}

.nav a {
  color: white;
  font-size: 24px;
  font-weight: 400;
  border: 3px solid #092241;
  padding: 3px;
  transition: 0.3s;
}

.nav a:hover {
  color: #d2ae7e;
  border-bottom: 3px solid #d2ae7e;
}

.search {
  cursor: pointer;
  display: flex;
  position: relative;
}

.search form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search form i {
  color: white;
  font-size: 16px;
  border-radius: 100%;
  border: 2px solid white;
}

.search input {
  border-radius: 15px;
  height: 25px;
  width: 150px;
}

/* //////////////////////////////////// */

/* background section  */

.background-section {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-position: center;
  height: 715px;
}

.background {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.background h1 {
  color: #ffffff;
  background-color: #b99143;
  font-size: 24px;
  font-weight: 400;
  padding: 26px 167px 26px 37px;
  border-radius: 20px 0px 0px 20px;
}

/* //////////////////////////////////////// */

/* comment and popular section  */

.comment-popular {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 40px;
  padding-bottom: 133px;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.comment h1 {
  font-size: 32px;
  font-weight: 400;
}

.comment button {
  font-size: 16px;
  font-weight: 400;
  padding: 21px 16px;
  background-color: #11427e;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.comment button:hover {
  color: #11427e;
  background-color: white;
  box-shadow: 4px 4px 5px #11427e;
}

.popular {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}

.popular-images {
  display: flex;
  gap: 30px;
}

.popular-images img {
  cursor: pointer;
  transition: 0.3s;
}

.popular-images img:hover {
  transform: scale(1.1) translateY(-20px);
}

.popular h1 {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.popular h1:hover {
  color: #b99143;
}

/* ////////////////////////////////////////////// */
/* comment form  */
.overlay {
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.contact-form {
  max-width: 550px;
  padding: 0 50px;
  position: fixed;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 40px;
  width: 100%;
}

.contact-form i {
  display: flex;
  align-self: flex-end;
  font-size: 40px;
  padding: 19px 0;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form i:hover {
  color: red;
  transform: scale(1.1);
}

.contact-form h1 {
  font-size: 28px;
  margin-bottom: 40px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.contact-form form input {
  font-size: 20px;
  width: 100%;
  font-weight: 400;
  padding: 13px 16px;
  border: 2px solid #d5d5d5;
  border-radius: 5px;
}

.contact-form form input:hover {
  border: 2px solid #92bcf0;
}

.contact-submit {
  background-color: #92bcf0;
  margin-top: 50px;
  margin-bottom: 80px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.contact-submit:hover {
  background-color: #11427e;
}

/* /////////////////////////////////// */

/* footer  */

footer {
  background-color: #092241;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 32px;
}

.footer-logo {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 3px solid #d2ae7e;
  width: 100%;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.footer-nav h1 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.footer-nav i {
  color: #b99143;
  font-size: 25px;
}

.footer-first-nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footer-second-nav {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.footer-nav h1 {
  color: white;
  font-size: 16px;
}

/* ================================= */
/* about us page  */

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-top: 65px;
  padding-bottom: 200px;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.about-us-text p {
  font-size: 16px;
}

/* //////////////////////////////////// */
/* products page  */

.products {
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.products h1 {
  font-size: 24px;
  font-weight: 400;
  color: #00000080;
}

.product-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
}

.product-filter {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.product-card img{
  max-width: 320px;
  width: 100%;
  height: 400px;
}

.product-filter label {
  width: 180px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
  transition: 0.2s;
}

.product-filter input {
  transition: 0.2s;
  transform: scale(1.5);
  cursor: pointer;
}

.product-filter input:hover {
  transform: scale(2);
}

.filter-h1 {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
}

/* /////////////////////////// */
/* admin  */

.admin-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.admin-log {
  border-radius: 30px;
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: white;
  box-shadow: 5px 5px 10px black;
}

.admin-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.log-submit {
  background-color: #11427e;
  color: white;
  padding: 5px 20px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.admin-form input {
  padding: 3px;
  width: 200px;
  height: 30px;
}

.error {
  color: red;
  /* position: absolute   ; */
}

/* ////////////////////////////////// */
/* control panel  */

.control-panel {
  display: flex;
  justify-content: space-between;
}

.control-panel-edit {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.control-panel-edit h1 {
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
  color: #000000;
  background-color: white;
  font-size: 28px;
}

.control-panel-edit button {
  background-color: #11427e;
  color: white;
  padding: 8px 24px;
  font-size: 18px;
}
